<div class="drop-shadow-md bg-slate-900 p-4">
  <div class="flex items-center">
    <div class="text-xl"><i style="font-size: 30px" [class]="icon"></i></div>
    <div class="flex flex-col">
      <div class="text-lg">{{title}}</div>
      <div class="text-sm text-slate-500">{{subtitle}}</div>
    </div>
  </div>
  <div class="services">
    <ng-content></ng-content>
  </div>
</div>
