<div class="bg-slate-800 w-screen h-screen flex">
  <div class="flex flex-col bg-slate-600 w-96 h-full">
    <div class="bg-slate-500 w-full h-18 py-6 px-10" routerLink="/home">
      <h1 class="text-2xl text-slate-200">Dashboard</h1>
    </div>
    <div class="h-18 py-6 px-10 flex items-center hover:bg-slate-700" routerLink="/gitlab">
      <i class="fa-brands fa-gitlab mr-5 gitlab-label"></i>GitLab
    </div>
    <div class="h-18 py-6 px-10 flex items-center hover:bg-slate-700" routerLink="/rancher">
      <i class="fa-solid fa-box mr-5 rancher-label"></i>Rancher
    </div>
    <div class="h-18 py-6 px-10 flex items-center hover:bg-slate-700" routerLink="/jenkins">
      <i class="fa-brands fa-jenkins mr-5 jenkins-label"></i>Jenkins
    </div>
    <div class="h-18 py-6 px-10 flex items-center hover:bg-slate-700" routerLink="/jira">
      <i class="fa-brands fa-jira mr-5 jira-label"></i>Jira
    </div>
    <div class="h-18 py-6 px-10 flex items-center hover:bg-slate-700" routerLink="/google-meet">
      <i class="fa-brands fa-google mr-5 meet-label"></i>Google Meet
    </div>
  </div>
  <div class="flex flex-col w-full">
    <router-outlet></router-outlet>
  </div>
</div>
