<div class="bg-slate-700 w-full h-18 py-6 px-10">
  <h1 class="text-2xl text-slate-200">GitLab</h1>
</div>
<div class="w-full py-6 px-10 h-full">
  <app-project
    icon="fa-brands fa-gitlab mr-5 gitlab-label"
    title="Segmentation"
    subtitle="Internal project for MIC-team to manage email campaigns"
  >
    <app-service
      icon="fa-brands fa-gitlab mr-5 gitlab-label"
      title="Segmentation UI"
      subtitle="Frontend"
      link="https://gitlab.itcapital.io/mi/mi-communications/segmentation/mi-segmentation-ui"
    ></app-service>
    <app-service
      icon="fa-brands fa-gitlab mr-5 gitlab-label"
      title="Marketing Intelligence API"
      subtitle="Backend"
      link="https://gitlab.itcapital.io/mi/mi-communications/segmentation/mi-api-py"
    ></app-service>
  </app-project>
</div>
