@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Fira Code', monospace;
  color: #ffffff;
}

.gitlab-label{
  color: #fc6d26;
  font-size: 20px;
}

.rancher-label{
  color: #4287f5;
  font-size: 20px;
}
.jenkins-label{
  color: #80B0C4;
  font-size: 20px;
  font-weight: bold;
}
.jira-label{
  color: #3c8aff;
  font-size: 20px;
}
.meet-label{
  color: #FFBA00;
  font-size: 20px;
}
