
  <a [href]="link" target="_blank">
    <div class="service">
      <div class="icon"><i [class]="icon"></i></div>
      <div class="title">{{title}}</div>
      <div class="subtitle">{{subtitle}}</div>
    </div>
  </a>
